PORT=5000
#MONGODB_URI=your-mongodb-uri
JWT_ACCESS_SECRET=eb68e4ce1827e6a8ecc13b5d9e8477b9c495e5a80e0c3f144300c5cb517b5e57
JWT_REFRESH_SECRET=caliber-super-secret-refresh-key-min-32-characters-change-this-now
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:5173
NODE_ENV=development